.js,.xfr,.jz,.wfr,.jm2,.lrh{
	font-size: 25px;
	transition: all in 5s ease-out;
}
a.lrh{
	transform: uppercase;
	font-size: 25px;
	transition: all in 0.5s ease-out;
}
.js:hover{
	font-size: 40px;
	transition: all 0.2s ease-in;
}
.xfr:hover{
	font-size: 40px;
	transition: all 0.2s ease-in;
}
.jz:hover{
	font-size: 40px;
	transition: all 0.2s ease-in;
}
.wfr:hover{
	font-size: 40px;
	transition: all 0.2s ease-in;
}
.jm2:hover{
	font-size: 40px;
	transition: all 0.2s ease-in;
}
.lrh:hover{
	font-size: 40px;
	transition: all 0.5s ease-in;
}
a.jdh:hover{
	color: goldenrod;
	transform: uppercase;	
	font-size: 50px;
	transition: all 0.2s ease-in;
	font-display: block；
}
a.jm:hover{
	color: goldenrod;
	transform: uppercase;	
	font-size: 50px;
	transition: all 0.2s ease-in;
	font-display: block；
}
a.jds:hover{
	color: goldenrod;
	transform: uppercase;	
	font-size: 50px;
	transition: all 0.2s ease-in;
	font-display: block；
}
a.jdh,a.jm,a.jds{
	transition: all 0.5s ease-out;
	
}
.main:hover {
	text-transform: uppercase;
	font-size: 50px;
	transition: all 1s ease-out;
	font-display: block；
}

.main{
	color: antiquewhite;
	transition: all 0.5s ease-out;
}