.p:hover{
	color: aqua;

	font-size: 110%;
	transition: 1s cubic-bezier(.3,.89,.32,.97);
}
@keyframes ChaBac {from {background-color: black;}to {background-color: white;}}
@keyframes ChaFon {from {color: darkgoldenrod;}to {color: black;}}
@keyframes ChaP {from {color: black;}to {color:chocolate;}}
.p{
	animation-name: ChaP;
	animation-timing-function: ease-in;
	animation-direction: 4s;
}
.font{
	animation-name: ChaFon;
	animation-timing-function: ease-out;
	animation-duration: 6s;
	color: black;
}
body{
	animation-timing-function: ease-in-out;
	background-color: white;
	animation-name: ChaBac;
  	animation-duration: 4s;
}

.p{

	color: chocolate;
	transition:  0.8s ease-out;

}
