.jds{
	left: auto;
	float: left;
}
.xd{
	float: right;
}

div.sp{
	margin: 0 auto  ;
	/*div层居中方法*/
	float: inherit;
	width: 1400px;
}
div.tr2{
	margin: 0 auto  ;
	/*div层居中方法*/
	float: inherit;
	width: 1400px;
}
div.F1{
	margin: 0 auto;
	width: 1400px;
}
div.tr1{
	width: 1400px;
	left: 40px;
	
}
.ima{
	right: 60px;
	width: 70%;
	height: 70%;
}


.p{
	transition:0.5s ease-in;
}
f1{
	
}
.js:hover{
	font-size: 56pt;
	color:cornflowerblue;
	transition:  0.4s  cubic-bezier(.94,-0.25,.32,1.31);
}
.jz:hover{
	font-size: 56pt;
	color:cornflowerblue;
	transition:  0.4s  cubic-bezier(.94,-0.25,.32,1.31);
}
.jj:hover{
	font-size: 56pt;
	color:cornflowerblue;
	transition:  0.4s  cubic-bezier(.94,-0.25,.32,1.31);
}
.wfr:hover{
	font-size: 56pt;
	color:cornflowerblue;
	transition:  0.4s  cubic-bezier(.94,-0.25,.32,1.31);
}

.xfr:hover{
	font-size: 56pt;
	color:cornflowerblue;
	transition:  0.4s  cubic-bezier(.94,-0.25,.32,1.31);
}
.jm:hover{
	font-size: 98pt;
	color:indianred;
	transition:  0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.jdh{
	float: right;
}